@import "tailwindcss";

.bebas-neue {
  font-family: var(--font-bebas-neue);
}

body {
  width: 100%;
  overflow-x: hidden;
}

/* styles.css */
.custom-ellipse-radius {
  border-radius: 40% 70% 70% 30% / 30% 40% 70% 70%;
}

.secone {
  border-radius: 58% 42% 70% 30% / 46% 66% 34% 54%;
}

.third {
  border-radius: 39% 61% 69% 31% / 41% 73% 27% 59%;
}

:root {
  --swiper-theme-color: #E156E6 !important;
  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-bullet-width: 15px;
  --swiper-pagination-bullet-height: 15px;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}

.swiper-pagination-bullet {
  border: 2px solid white;
}