@import "tailwindcss";

.bebas-neue {
  font-family: var(--font-bebas-neue);
}

/* styles.css */
.custom-ellipse-radius {
  border-radius: 40% 70% 70% 30% / 30% 40% 70% 70%;
}

.secone {
  border-radius: 58% 42% 70% 30% / 46% 66% 34% 54%;
}
.third {
  border-radius: 39% 61% 69% 31% / 41% 73% 27% 59% ;
}
